<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaclon.mybatis.analyse.bean.Blog">

    <select id="selectBlog" resultType="com.jaclon.mybatis.analyse.bean.Blog">
        select * from blog where id = #{id}
    </select>

    <insert id="insertBlog" parameterType="com.jaclon.mybatis.analyse.bean.Blog">
        insert into blog (id,title) values (#{id},#{title})
    </insert>

    <update id="updateBlog" parameterType="com.jaclon.mybatis.analyse.bean.Blog">
        UPDATE blog SET title=#{title} WHERE id=#{id}
    </update>

    <delete id="deleteBlog" parameterType="integer">
        DELETE FROM blog WHERE id=#{id}
    </delete>

</mapper>
